In [2]:
## Car price prediction
#

In [80]:
## Loaad pre libraries
# 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [90]:
## Load dataset
#
dataset_train =  pd.read_csv('train-data.csv')
dataset_train.head()

pin1 = len(dataset_train)
print("Training set last index : {}".format(pin1))

dataset_test =  pd.read_csv('test-data.csv')
dataset_train = dataset_train.append(dataset_test)
dataset_train.head()

Training set last index : 6019

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74

In [91]:
## Basic information of dataset
# 

# Total records
print("Total records : {}".format(len(dataset_train)))

# Total columns
print("Total columns : {}".format(len(dataset_train.columns)))

# Column names
print("Column names : {}".format(dataset_train.columns))

Total records : 7253
Total columns : 14
Column names : Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [92]:
## General information of dataset
#

dataset_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7253 entries, 0 to 1233
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   object
 9   Engine             7207 non-null   object
 10  Power              7207 non-null   object
 11  Seats              7200 non-null   float64
 12  New_Price          1006 non-null   object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 850.0+ KB

In [93]:
## Statistical information 
#

dataset_train.describe()

        Unnamed: 0         Year  Kilometers_Driven        Seats        Price
count  7253.000000  7253.000000       7.253000e+03  7200.000000  6019.000000
mean   2601.948435  2013.365366       5.869906e+04     5.279722     9.479468
std    1826.365869     3.254421       8.442772e+04     0.811660    11.187917
min       0.000000  1996.000000       1.710000e+02     0.000000     0.440000
25%     906.000000  2011.000000       3.400000e+04     5.000000     3.500000
50%    2392.000000  2014.000000       5.341600e+04     5.000000     5.640000
75%    4205.000000  2016.000000       7.300000e+04     5.000000     9.950000
max    6018.000000  2019.000000       6.500000e+06    10.000000   160.000000

In [94]:
## Check missing values
#

dataset_train.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 46
Power                  46
Seats                  53
New_Price            6247
Price                1234
dtype: int64

In [95]:
## Handle mising values
#
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan,
                        strategy = 'most_frequent')
dataset_train[["Mileage", "Engine", "Power", "Seats"]] = imputer.fit_transform(dataset_train[["Mileage", "Engine", "Power", "Seats"]])

dataset_train.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 0
Engine                  0
Power                   0
Seats                   0
New_Price            6247
Price                1234
dtype: int64

In [96]:
## Remove column
# New price column
dataset_train = dataset_train.drop(['New_Price'], axis = 1)

# Drop first column
dataset_train.drop(dataset_train.columns[[0]], 
                   axis = 1, 
                   inplace = True)

dataset_train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [97]:
## Handle categorical column
# Name, Location, Fuel_Type, Transmission, Owner_Type, Mileage, Engine, Power
# Name
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

name_encoded_labels = list(dataset_train['Name'])
dataset_train.Name = encoder.fit_transform(dataset_train.Name)
name_encoded_labels_dict = dict(zip(list(dataset_train.Name), name_encoded_labels))

location_encoded_labels = list(dataset_train['Location'])
dataset_train.Location = encoder.fit_transform(dataset_train.Location)
location_encoded_labels_dict = dict(zip(list(dataset_train.Location), location_encoded_labels))

fueltype_encoded_labels = list(dataset_train['Fuel_Type'])
dataset_train.Fuel_Type = encoder.fit_transform(dataset_train.Fuel_Type)
fueltype_encoded_labels_dict = dict(zip(list(dataset_train.Fuel_Type), fueltype_encoded_labels))

transmissions_encoded_labels = list(dataset_train['Transmission'])
dataset_train.Transmission = encoder.fit_transform(dataset_train.Transmission)
transmissions_encoded_labels_dict = dict(zip(list(dataset_train.Transmission), transmissions_encoded_labels))

owner_encoded_labels = list(dataset_train['Owner_Type'])
dataset_train.Owner_Type = encoder.fit_transform(dataset_train.Owner_Type)
owner_encoded_labels_dict = dict(zip(list(dataset_train.Owner_Type), owner_encoded_labels))

mileage_encoded_labels = list(dataset_train['Mileage'])
dataset_train.Mileage = encoder.fit_transform(dataset_train.Mileage)
mileage_encoded_labels_dict = dict(zip(list(dataset_train.Mileage), mileage_encoded_labels))

engine_encoded_labels = list(dataset_train['Engine'])
dataset_train.Engine = encoder.fit_transform(dataset_train.Engine)
engine_encoded_labels_dict = dict(zip(list(dataset_train.Engine), engine_encoded_labels))

power_encoded_labels = list(dataset_train['Power'])
dataset_train.Power = encoder.fit_transform(dataset_train.Power)
power_encoded_labels_dict = dict(zip(list(dataset_train.Power), power_encoded_labels))

dataset_train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1310,9,2010,72000,0,1,0,411,148,271,5.0,1.75
1,560,10,2015,41000,1,1,0,282,40,57,5.0,12.50
2,529,2,2011,46000,4,1,0,239,12,357,5.0,4.50
3,1160,2,2012,87000,1,1,0,315,14,359,7.0,6.00
4,23,3,2013,40670,1,0,2,140,60,78,5.0,17.74

In [98]:
## Prepare testing dataset
#

dataset_test = dataset_train[6019:]
dataset_test.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,1059,4,2014,40929,0,1,0,424,148,272,4.0,NaN
1,1049,3,2013,54493,4,1,2,389,141,252,5.0,NaN
2,1935,9,2017,34000,1,1,0,89,86,88,7.0,NaN
3,1870,5,2012,139000,1,1,0,375,19,385,5.0,NaN
4,827,9,2014,29000,4,1,0,248,10,334,5.0,NaN

In [100]:
## Dependent and Independant variables
# 
features =['Name','Location','Year','Kilometers_Driven','Fuel_Type','Transmission','Owner_Type','Mileage','Engine','Power','Seats']
target = 'Price'

In [112]:
dataset_train.replace([np.inf, -np.inf], np.nan, inplace=True) 
dataset_train.dropna(inplace=True) 
  
dataset_test.replace([np.inf, -np.inf], np.nan, inplace=True) 
dataset_test.dropna(inplace=True)

In [113]:
## Split dataset
#
from sklearn.model_selection import train_test_split
Y = dataset_train['Price']
X = dataset_train.drop(columns=['Price'])
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15, random_state=7)

print('X train - ', X_train.shape)
print('Y train -  ', Y_train.shape)
print('X test - ', X_test.shape)
print('Y test - ', Y_test.shape)

X train -  (5116, 11)
Y train -   (5116,)
X test -  (903, 11)
Y test -  (903,)

In [109]:
X_train = X_train.reset_index()
Y_train = Y_train.reset_index()

In [114]:
## Model 
# Random Forest
# Find best parameters for random forest
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV

estimator = RandomForestRegressor(random_state = 42,criterion='mse')
para_grids = {
            "n_estimators" : [10,50,100],
            "max_features" : ["auto", "log2", "sqrt"],
            'max_depth' : [4,5,6,7,8,9,15],
            "bootstrap"    : [True, False]
        }

Grid = GridSearchCV(estimator, para_grids,cv= 5)
Grid.fit(X_train, Y_train)
best_param = Grid.best_estimator_
print(best_param)

RandomForestRegressor(bootstrap=False, max_depth=15, max_features='log2',
                      random_state=42)

In [116]:
# model
model = RandomForestRegressor(random_state = 42,criterion='mse',
                                bootstrap = False, 
                                max_depth = 15,
                                max_features = 'log2')

model.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=False, max_depth=15, max_features='log2',
                      random_state=42)

In [117]:
## Predictions
#
Y_pred = model.predict(X_test)

In [119]:
## About accuracy
#

import sklearn.metrics as metrics

mae = metrics.mean_absolute_error(Y_test, Y_pred)
mse = metrics.mean_squared_error(Y_test, Y_pred)
rmse = np.sqrt(mse) # or mse**(0.5)  
r2 = metrics.r2_score(Y_test, Y_pred)

print("Results of sklearn.metrics:")
print("MAE:",mae)
print("MSE:", mse)
print("RMSE:", rmse)
print("R-Squared:", r2)

Results of sklearn.metrics:
MAE: 1.5722175560632434
MSE: 26.44454537962763
RMSE: 5.142426020822043
R-Squared: 0.8353584780934351

In [121]:
## Back to python
#
!jupyter nbconvert --to script prise_pred.ipynb

[NbConvertApp] Converting notebook prise_pred.ipynb to script
[NbConvertApp] Writing 6000 bytes to prise_pred.py

In [ ]:
## End
#